.card{
  display: flex;
  flex-direction: column;
  width: 30%;
  

}
.p{
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242 , 242);
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  overflow: hidden; 
}
.p-browser{
  height: 25px;
  background-color: rgb(243, 242 , 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.p-circle{
  width: 9px;
  height: 9px;
  background-color: #FFF;
  margin: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.p-img{
  width: 100%;
  transition: all 10s linear ;
  -webkit-transition: all 10s linear ;
  -moz-transition: all 10s linear ;
  -ms-transition: all 10s linear ;
  -o-transition: all 10s linear ;
}
.p:hover .p-img{
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.btn{
  display: flex;
  justify-content: space-around;
}
.btn a{
  text-decoration: none;
}
.btn a:hover button{
  color: #4e9eff;
  background-color: #fff;
}
.btn button{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-weight: bold;
  
}


@media screen and (max-width: 765px) {
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    width: 80%;
  }
 
}